*{
    margin: 0%;
    padding: 0%;
}
body{
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background: url(../img/cool_Backround.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  align-items: center;
}
.centered_button{
    display: flex;
    justify-content: flex-end;
}

.col-12{
    display: flex;
    justify-content: flex-end;
}

h1{
    text-align: center;
}

h2{
    color:aliceblue ;
    margin-bottom: 2vh;
    text-align: center;
}



header{
color: aliceblue;
display: flex;
justify-content: center;
margin: 5vh;

}

.login{
    display: flex;
    justify-content: center;
    font-size: xx-large;
    color:aliceblue;
    width: 100vw;
}

.form-label{
    display: flex;
    width: 30vw;
    justify-content: flex-start;
    margin-right: 1vw;
    
}
.UorK{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5vh;
   

}
.not_visible {
    display: none;
}


.col-md-4{
    display: flex;
    justify-content: flex-end;
    width: 90vw;
  
}
.form-control{
  display: flex;
  width: 50vw;
  justify-content: flex-start;
}




/* CSS */
.button-64 {
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 3vh;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  max-width: 100%;
  min-width: 140px;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

#registrationMessage{
  color: green;
  
}
#company_register{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
