body{
    display: flex;
    background:url(../img/cool2.avif);
    background-size: cover;
    color: aliceblue;
    flex-direction: column;
}
.search{
    margin-top: 2vh;
    margin-left: 2vw;
    margin-bottom: 5vh;
    
}


.company{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    font-family: Arial, sans-serif;
    justify-content: center;
    height: auto;
    flex-wrap: wrap;

    
}
.comLine{
    display: flex;
    background:rgba(40, 2, 2, 0.617);
    border: 1px solid aliceblue;
    padding: 1%;
    color: aliceblue;
    height: auto;
    align-items: center;
    border-radius: 5px;
    min-width: 20vw;
    justify-content: center;
  }

h1{
    color:aliceblue ;
}
.favorite-btn{
  display: flex;
  border-radius: 5px;
  border: 1px solid aliceblue;
  color: aliceblue;
  height: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-items: center;
  background:url(../img/SternbuttonUnmarked.jpeg);
  background-size: cover;
}

.favorite-btn:hover {
    transform: scale(1.4);
  }

  .search-meeting-btn{
   
  }

  .button{
    padding: 1%;
    margin: 0%;
    min-width: 20vw;
    height: auto;
   background-color: rgb(16, 16, 16);
   color: aliceblue;
   border-radius: 80px;
   border-color: rgba(236, 118, 6, 0.736);
  }

  .button:hover{
    transform: scale(1.4);
  }
  