*{
    margin: 0%;
    padding: 0%;
}

body{
    display: flex;
    justify-content: center;
    padding: 2%;
    margin: 2%;
    background: url(../../../Spring_Boot/FinalesProjekt/src/main/resources/static/img/26_autoreifen.jpg);
    background-size: cover;
    color: rgb(10, 15, 15);
    background-repeat: no-repeat;
    flex-direction: column;
    height: 100vh;
    width: auto;


    
}

h1{
color: rgb(13, 13, 13);
}

header{
    margin-top: 3vh;
}

footer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#companyImage{
    display: flex;
    height: 100%;
    width:100%;
    border-radius: 40px;
}
#companyText{
  font-size: 1.6em;
  background-color:rgba(255, 255, 255, 0.612);
  
  
}

#company_Picture{
    display: flex;
    width: 500px;
    height:180px;
    margin-right: 1vw;
    flex-direction:column;
    
}

#first_impression{
    display: flex;
    flex-direction: row;
    margin-top: 4vh;
    margin-bottom: 2vh;
}
#first_text{
    display: flex;
  
   
    
}
#backToCompanySight{
  display: none;
}
#company_Name{
  display: flex;
background-color: #ffffff96;
width: 20vw;
min-width: 30vw;
}

.favorite-form{
  display: flex;
  justify-content: center;
}

.button_order{
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: center;
     
}
button{
    margin-bottom: 1vh;
   
}

.favorite-btn{
  display: flex;
  border-radius: 5px;
  border: 1px solid aliceblue;
  color: aliceblue;
  height: auto;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
  align-items: center;
  background:url(../../img/SternbuttonUnmarked.jpeg);
  background-size: cover;
}

.favorite-btn:hover {
    transform: scale(1.4);
  }
 
.button-40 {
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  flex: 0 0 auto;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 3px;
  text-align: center;
  transition-duration: .2s;
  transition-property: background-color,border-color,color,fill,stroke;
  transition-timing-function: cubic-bezier(.4, 0, 0.2, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  display: flex;
  justify-content: center;
}

.button-40:hover {
  background-color: #374151;
}

.button-40:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

img{
  width: 365px;
  height: 200px;
}


@media (min-width: 870px) {
  
  img{
    width: 650px;
    height: 300px;
  }
}

@media (min-width: 700px) {
  .button-40 {
    padding: .75rem 1.5rem;
  }
  #company_Picture{
    width: 300px;
    height:150px;
    margin-right: 1vw;
}


}
@media (max-width: 568px) {

  #first_impression{
    display: flex;
    flex-direction: column;
    margin-top: 2vh;
    margin-bottom: 1vh;
}

  #company_Picture{
    width: 450px;
    height:300px;
    margin-right: 1vw;
}

.button-40 {
  display: flex;
  background-color: #111827;
  border: 1px solid transparent;
  border-radius: .75rem;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  line-height: 1.5rem;
  padding: 1px;
  font-size: 1.1em;

}



}